html {
    box-sizing: border-box;

}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: "Poppins";
    background: no-repeat fixed center url("../images/backgrund.jpg");
    background-size: auto 150%;
}

.flexContainer {
    display:flex;
    justify-content: flex-end;
}